BASE_URL=http://frontend.niffler.dc
AUTH_URL=http://auth.niffler.dc:9000
API_URL=http://gateway.niffler.dc:8090
SPEND_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-spend
USER_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-auth
USERDATA_DB_URL=postgresql+psycopg2://postgres:secret@localhost:5432/niffler-userdata
KAFKA=localhost:9093
SOAP=http://localhost:8089/ws
AUTH_SECRET=