pytest==8.4.2
pytest-xdist==3.8.0
playwright==1.55.0
pytest-playwright==0.7.1
pytest-lazy-fixtures==1.4.0
dotenv==0.9.9
mimesis==18.0.0
faker==37.12.0
allure-pytest==2.15.0
requests-toolbelt==1.0.0

psycopg2-binary==2.9.11
sqlalchemy==2.0.44
sqlmodel==0.0.27

pkce==1.0.3
curlify==3.0.0
grpcio-tools==1.76.0
confluent-kafka==2.12.1
filelock==3.20.0

jinja2==3.1.6

pbreflect==1.1.0
pydantic_settings==2.11.0